*{margin:0;padding:0;box-sizing: border-box;font-size:100%;}

html{
	scroll-behavior: smooth;
}
@font-face{font-family:"font";
src:url('../Fonts/Anton-Regular.ttf');
}

@font-face{font-family:"font1";src:url('../Fonts/Stay and Shine.ttf');}
body{
	background-color: rgb(2,0,36);

}

header{
	width: 100%;
	display: flex;
	height: 90px;
	flex-direction: row;
	background:rgb(2,0,36);
	justify-content: space-between;
	align-items: center;
	box-shadow: 2px 2px 8px black;
	position: fixed;
	left: 0;
	top:0;
	z-index: 1;
}
header h2{
	width: 44%;
	font-size: 1.4rem;
	color: #fff;
	font-family: "font";
	text-shadow: 1px 2px 1px black;
	font-weight: initial;
}
header i{
	color: white;
	font-size: 30px;
	margin: 0 10px;
}
.menu-desktop ul{
	display: flex;
	list-style: none;
	padding: 0 30px;

}
.menu-desktop li a{
	display: flex;
	color: #fff;
	text-decoration: none;
	font-size: 1.3rem;
	cursor: pointer;
	font-family: "font";
	text-shadow: 1px 2px 5px #c1c1;
	padding: 18px 8px;
}
.menu-desktop li.active{
	background-color:#0030ff;
	border-radius: 10px;
}
.menu-desktop li.li a:hover{
	background-color: #0030ff;
	box-shadow: 0.1px 0.1px 2px 2px #ccc;
	border-radius: 10px;
}
.menu-desktop li{
	margin: 0 8px;
}
.menu-desktop li:first-child{
	margin-left: 0;
}
.menu-desktop li:last-child{
	margin-right:0;
}
.menu-mobile{
display: none;
text-align: right;
width: 50%;
}
.menu-desktop li i {
	font-size: 1.8rem;
}
.menu-mobile i{
	cursor: pointer;
	color: white;
	font-size: 30px;
}
.menu-mobile ul{
	  background-color:#001652;
		opacity: 0;
		transition: 1s;
		width: 100%;
		position: absolute;
		left: 0;
		top: 60px;
		text-align: center;
}
.menu-mobile ul li a button{
	padding: 12px;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(10,8,136,1) 0%, rgba(1,190,237,1) 0%, rgba(3,149,204,1) 0%, rgba(124,0,255,1) 0%, rgba(79,7,146,1) 0%, rgba(128,79,79,1) 0%, rgba(6,87,154,1) 0%, rgba(1,139,217,1) 0%, rgba(0,25,179,1) 100%, rgba(255,0,82,1) 100%, rgba(0,48,255,1) 100%, rgba(53,3,255,1) 100%);
	color: #f1f1f1;
	font-family: "font";
	border-radius: 10px;
	cursor: pointer;
	outline: 0;
	border: 2px solid #ccc;
}
.show-menu{
	opacity: 1 !important;
}
.menu-mobile ul li a{
	color: white;
	text-decoration: none;
	font-size: 18px;
	padding: 10px 0;
	display: block;
	font-family: "font";
}
.apresentação{
	background-color:#454484; 
	height: 100vh;	
	position: relative;
	box-shadow: 0.1px 0.1px 2px 3px #f1f1f1;
}
.apresentação img{
	opacity: 0;
	width: 100%;
	height: 100%;
	object-fit:cover;
	position: absolute;
	transition: opacity 800ms;
}
.apresentação img.select{opacity: 1;}

.produtos{
	color: #fff;
	font-size: 1.4rem;
	font-weight: bold;
	font-family: Arial;
	margin: 12px auto;
	cursor: pointer;
}
.produtos .gallery img{

}
.produtos h3#produtos{
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: initial;
	margin: 15px auto;
	font-family: "font";
}
.produtos figcaption{
	width: 20%;
}
/*.produtos img{
	width: 20%;
	opacity:.5;
	cursor:pointer;
}*/

.produtos figcaption{
	text-align: center;
}
figure figcaption#fig{
 display: flex; 

}
div.gallery {
  margin: 35px 80px;
  background: rgb(10, 02, 20);
  box-shadow: 0.1px 0.1px 2px 8px #ccc;
  border-radius: 5px;
  float: left;
  width: 260px;
}
div.gallery:hover{
	background-color: #0030ff;
	box-shadow: 0.1px 0.1px 2px 2px #ccc;
	transition: 1s;

}

div.gallery img {
  width: 100%;
  height: auto;

}
div.gallery img#placamovie{
	margin: 28px auto;
}
div.gallery img#hd{
	width: 85%;
	margin: 40px 18px;
}
div.gallery img#font{
	width: 75%;
	margin: 12px 35px;
}	
div.gallery img#placa{
	width: 91%;
	margin: 10px 22px;
}
div.gallery img#placatwo{
	width: 92%;
	margin: 25px 10px;
}
div.gallery img#fontg{
	width: 91%;
	margin: 5px auto;
}

div.desc {
	margin: 15px;
  text-align: center;
}

.produtos h3 a{
	width:20%; 
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: "font";
	font-weight: initial;
	color: #ccc;
	background: #454484;
	font-size: 1.5rem;
	opacity: .5;
	margin: 0 auto;
}
.produtos i{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 12px;
	color: white;
}

.produtos a {
	list-style: none;
	text-decoration: none;
}
.produtos figure img:hover,.produtos h3 a:hover{
	opacity: 1;
}
.produtos figure img.font{
	width: 15%;
}
.fale{
display: flex;
flex-direction: column;
align-items: center;
color: #fff;
font-size: 1.5rem;
font-family: "font1";
background:  linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(10,8,136,1) 0%, rgba(1,190,237,1) 0%, rgba(3,149,204,1) 0%, rgba(124,0,255,1) 0%, rgba(79,7,146,1) 0%, rgba(128,79,79,1) 0%, rgba(6,87,154,1) 0%, rgba(1,139,217,1) 0%, rgba(0,25,179,1) 100%, rgba(255,0,82,1) 100%, rgba(0,48,255,1) 100%, rgba(53,3,255,1) 100%);
height: 330px;
}
.fale p{
	margin: 30.02px auto;
}
.fale i#whats {
font-size: 1.7rem;
text-align: center;
margin: 20px;
}
.fale i#whats h2{
	padding: 8px;
	font-family: sans-serif;
	font-size: 1.5rem;
}
.fale i#phone h2{
	font-size: 1.5rem;
	padding: 5px;
	font-family: sans-serif;

} 
.fale i#phone {
	font-size: 1.7rem;
	text-align: center;
}
footer{
	display: flex;
	align-items: center;
	flex-direction:column;
	background: rgb(2,0,36);
	font-size: 1.5rem;
	font-family: "font";
	text-shadow: 2px 2px 2px black;	
}

footer p{
	padding: 18px;
}
footer ul{display: flex; margin-bottom: 10px; list-style: none; }
footer ul li{margin-right: 15px;}
footer ul li:last-child{margin-right: 0;}
footer ul li a{color:#f1f1f1;font-size: 2rem;}
footer p{color:#f1f1f1;}
footer form{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
width: 100%;
flex-direction: column;
}

footer form input[type=text]:focus,
form input[type=password],
.cadastro form button[type=button]:focus{
outline: 0;
}
footer button {
	margin: 10px auto;
	padding: 10px 15px;
	cursor:pointer;
	border-radius:8px;
	background: #001652;
	color:#fff;
	border: none;
	box-shadow: 0.1px 0.1px 2px 2px #f1f1f1;
	font-family: "font";
	text-decoration: none;
}
footer button a {
	text-decoration: none;
	color:#fff;
}
footer button:hover{
	background:#000000;
	color:#fff;
	transition: 1s;
}
footer ul li a i#facebook{
	margin-top: 18px;

}
footer ul li a i#twitter{
	margin-top: 18px;
}
.sobre{
	display: flex;
	flex-direction: column;
	align-items:center;
	background-color:#001652;
	color: #f1f1f1;
	font-family: "font";
	text-shadow: 2px 2px 2px black;
	text-align: center;
	padding:30px;
	line-height: 70px;
}
.maisp{
	display: flex;
	background-color: #001653;
	color: #f1f1f1;
	font-size: 1.2rem;
	font-weight: bold;
	font-family: Arial;
}
.maisp div.gallery{
 margin: 28px 20px;
 float: left;
 width: 250px;
}
.maisp div.gallery #coller{
	width: 88%;
	margin: 0 12px;
}
.maisp div.gallery #mouseone{
	 margin: 10px 1px;
}
.maisp div.gallery #mouse{
	margin: 30px 2px;
}
.maisp div.gallery #font{
	width: 80%;
	margin: 30px 20px;
}
.maisp div.gallery #memória{
	width: 85%;
	margin: 10px 15px;
}

.sobre h2,.sobre p{
	font-weight:inherit;
	font-size: 1.5rem;

}
.sobre h2{
}
.sobre p{
	font-family: "font1";
}
.sobre p i{
	font-size: 2.4rem;
}
.sobre #seta{
	font-size: 1.6rem;
}

 .produtos h3 a{
	width:20%; 
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: "font";
	font-weight: initial;
	color: #ccc;
	background: transparent;
	font-size: 1.5rem;
	opacity: .5;
	margin: 0 auto;
	padding: 12px;
}







