@media (max-width: 1440px){
	header h2{
		width:45%;
	}
}
@media (max-width: 1280px){
	header h2{
		margin-left: 10px;
	}
}
@media (max-width:984px){
		header{
			width: 100%;
			display: flex;
			flex-direction: column;
			height: 40px;
	  }
		header img{
			display: none;
		}
		header h2{
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 93%;
			text-align: center;
			margin-top: 5px;

		}
		.produtos{
			padding: 5px;	
		}
		.produtos figure{
			display: flex;
			flex-direction: column;
			align-items: center;	
		}
		.produtos figure img{
			width: 50%;
			margin-top:30px;
		}
		.produtos i{
			margin-top:20px;
		}
		.produtos h3 a{
			display: none;
		}
		.produtos figcaption{
			display: flex;
			flex-direction: column;
		}
		.produtos figure img.font{
			width: 40%;
		}
		.produtos figure .font{
			width:40%;
		}
		.apresentação{
			height: 480px;
		}
		.apresentação p{
			display: flex;
			flex-direction: row;
			font-size: 1.8rem;
			box-shadow:none;
		}
		.produtos h3{
			text-align: center;
		}
		.cadastro h3{
			font-size: 1.2rem;
			text-align: center;
		}
		.cadastro button{
			font-size: 1.3rem;
		}
		footer{
			display: flex;
			flex-direction: column;
			font-size: 1.1rem;
		}
		footer i{
			font-size: 1.2rem;
		}
		header ul{
			display: flex;
			flex-direction: column;
			align-items: center;
			position: fixed;
			width: 100%;
			height: 100vh;
			background:#454484;
			top: 40px;
			left: -100%;
			text-align: center;
			z-index:10;
		}
		header ul{
			transition: all .4s;
		}
		 header ul li{
			display: block;
			margin: 25px 0;
			line-height: 30px;
			text-align: center;	
		}
		header ul li a{
			font-size: 20px;
		}
		#bt-menu:checked ~ ul{
			left: 0;
		} 	
}
@media (max-width: 800px){
	label[for="bt-menu"]{
			display: block;
			position: fixed;
			left: 730px;	
		}
		header ul{
			display: flex;
			flex-direction: column;
			align-items: center;
			position: fixed;
			width: 100%;
			height: 100vh;
			background:#454484;
			top: 40px;
			left: -100%;
			text-align: center;
			z-index:10;
		}
		header ul{
			transition: all .4s;
		}
		 header ul li{
			display: block;
			margin: 25px 0;
			line-height: 30px;
			text-align: center;
		}
		header ul li a{
			font-size: 20px;
 
		}
		#bt-menu:checked ~ ul{
			left: 0;
		}
		.apresentação{
			height: 320px;
		}
		.apresentação p{
			margin-top: 40px;
		}
		.produtos figure img{
			width: 40%;
		}
		.produtos figure img.font{
			width: 30%;
		}
}
@media (max-width: 792px){
	label[for="bt-menu"]{
			display: block;
			position: fixed;
			left: 700px;
		}
		header ul{
			display: flex;
			flex-direction: column;
			align-items: center;
			position: fixed;
			width: 100%;
			height: 100vh;
			background:#454484;
			top: 40px;
			left: -100%;
			text-align: center;
			z-index:10;
		}
		header ul{
			transition: all .4s;
		}
		 header ul li{
			display: block;
			margin: 25px 0;
			line-height: 30px;
			text-align: center;
		}
		header ul li a{
			font-size: 20px;
 
		}
		#bt-menu:checked ~ ul{
			left: 0;
		}	
}
@media (max-width: 768px){
	header h2{
		margin-right: 20px;
	}
	label[for="bt-menu"]{
			display: block;
			position: fixed;
			left: 710px;
		}

}
@media (max-width: 640px){
	header h2{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 95%;
	}
	label[for="bt-menu"]{
			display: block;
			position: fixed;
			left: 582px;
		}
		header ul{
			display: flex;
			flex-direction: column;
			align-items: center;
			position: fixed;
			width: 100%;
			height: 100vh;
			background:#454484;
			top: 40px;
			left: -100%;
			text-align: center;
			z-index:10;
		}
		header ul{
			transition: all .4s;
		}
		 header ul li{
			display: block;
			margin: 10px 0;
			line-height: 30px;
			text-align: center;
		}
		header ul li a{
			font-size: 20px;
 
		}
		#bt-menu:checked ~ ul{
			left: 0;
		}
		.apresentação{
			height: 230px;
		}
		.apresentação p{
			margin-top: 40px;
		}
		.produtos figure img{
			width: 30%;
		}
		.produtos figure img.font{
			width: 25%;
		}
}
@media (max-width: 600px){
	header h2{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 95%;
	}
		label[for="bt-menu"]{
			display: block;
			position: fixed;
			left: 542px;
		}
		header ul{
			display: flex;
			flex-direction: column;
			align-items: center;
			position: fixed;
			width: 100%;
			height: 100vh;
			background:#454484;
			top: 40px;
			left: -100%;
			text-align: center;
			z-index:10;
		}
		header ul{
			transition: all .4s;
		}
		 header ul li{
			display: block;
			margin: 25px 0;
			line-height: 30px;
			text-align: center;
		}
		header ul li a{
			font-size: 20px;
 
		}
		#bt-menu:checked ~ ul{
			left: 0;
		}
		.apresentação{
			height: 280px;
		}
		.apresentação p{
			margin-top: 40px;
		}
		.produtos figure img{
			width: 40%;
		}
		.produtos figure img.font{
			width: 30%;
		}
}
@media (max-width: 540px){
	header h2{
		margin-left: 35px;
	}
		label[for="bt-menu"]{
			display: block;
			position: fixed;
			left: 480px;
		}
		header ul{
			display: flex;
			flex-direction: column;
			align-items: center;
			position: fixed;
			width: 100%;
			height: 100vh;
			background:#454484;
			top: 40px;
			left: -100%;
			text-align: center;
			z-index:10;
		}
		header ul{
			transition: all .4s;
		}
		 header ul li{
			display: block;
			margin: 25px 0;
			line-height: 30px;
			text-align: center;
		}
		header ul li a{
			font-size: 20px;
 
		}
		#bt-menu:checked ~ ul{
			left: 0;
		}
}
@media (max-width: 480px){
	header h2{
		margin-left:35px;
	}
		label[for="bt-menu"]{
			display: block;
			position: fixed;
			left: 420px;
		}
		header ul{
			display: flex;
			flex-direction: column;
			align-items: center;
			position: fixed;
			width: 100%;
			height: 100vh;
			background:#454484;
			top: 40px;
			left: -100%;
			text-align: center;
			z-index:10;
		}
		header ul{
			transition: all .4s;
		}
		 header ul li{
			display: block;
			margin: 25px 0;
			line-height: 30px;
			text-align: center;
		}
		header ul li a{
			font-size: 20px;
 
		}
		#bt-menu:checked ~ ul{
			left: 0;
		}
}
@media (max-width: 425px){
	header h2{
		margin-right: 10px;
	}
label[for="bt-menu"]{
	display: block;
	position: fixed;
	left: 370px;}	
}
@media(max-width: 420px){
	header h2{
		margin-right: 15px;
	}
	label[for="bt-menu"]{
			display: block;
			position: fixed;
			left: 350px;
		}
		header ul{
			display: flex;
			flex-direction: column;
			align-items: center;
			position: fixed;
			width: 100%;
			height: 100vh;
			background:#454484;
			top: 40px;
			left: -100%;
			text-align: center;
			z-index:10;
		}
		header ul{
			transition: all .4s;
		}
		 header ul li{
			display: block;
			margin: 25px 0;
			line-height: 30px;
			text-align: center;
		}
		header ul li a{
			font-size: 20px;
 
		}
		#bt-menu:checked ~ ul{
			left: 0;
		} 
}
@media(max-width: 414px){
	header h2{
		margin-left: 30px;
	}
	label[for="bt-menu"]{
			display: block;
			position: fixed;
			left: 365px;
		}
		.produtos figure img{
			width: 45%;
		}
		.produtos figure img.font{
			width:35%;
		}


}
@media (max-width:412px){
	header h2{
		display: flex;
		margin-left: 30px;
	}
	.apresentação{
		height: 250px;
	}
	.apresentação p{
		font-size: 1.4rem;
		margin-top: 30px;
	}
	label[for="bt-menu"]{
			display: block;
			position: fixed;
			left: 365px;
		}
		header ul{
			display: flex;
			flex-direction: column;
			align-items: center;
			position: fixed;
			width: 100%;
			height: 100vh;
			background:#454484;
			top: 40px;
			left: -100%;
			text-align: center;
			z-index:10;
		}
		header ul{
			transition: all .4s;
		}
		 header ul li{
			display: block;
			margin: 25px 0;
			line-height: 30px;
			text-align: center;
		}
		header ul li a{
			font-size: 20px;
 
		}
		#bt-menu:checked ~ ul{
			left: 0;
		}
		.produtos figure img{
			width: 40%;
		}
		.produtos figure img.font{
			width: 35%;
		}


}	
@media(max-width: 384px){
	header h2{
		margin-left: 25px;
	}
		label[for="bt-menu"]{
			display: block;
			position: fixed;
			left: 335px;
		}
		header ul{
			display: flex;
			flex-direction: column;
			align-items: center;
			position: fixed;
			width: 100%;
			height: 100vh;
			background:#454484;
			top: 40px;
			left: -100%;
			text-align: center;
			z-index:10;
		}
		header ul{
			transition: all .4s;
		}
		 header ul li{
			display: block;
			margin: 25px 0;
			line-height: 30px;
			text-align: center;
		}
		header ul li a{
			font-size: 20px;
 
		}
		#bt-menu:checked ~ ul{
			left: 0;
		}
		.produtos figure img{
			width: 40%;
		}
		.produtos figure img.font{
			width: 35%;
		}
		.produtos figure figcaption{
			font-size: 1.1rem;
		}
}
@media(max-width: 375px){
	header h2{
		margin-left: 30px;
	}
	label[for="bt-menu"]{
			display:block;
			position: fixed;
			left: 330px;
		}
		.produtos figure img{
			width: 45%;
		}
}
@media (max-width: 360px){
	header h2{
		display: flex;
		margin-left:30px;
	}
	label[for="bt-menu"]{
			display:block;
			position: fixed;
			left: 315px;
		}
		header ul{
			display: flex;
			flex-direction: column;
			align-items: center;
			position: fixed;
			width: 100%;
			height: 100vh;
			background:#454484;
			top: 40px;
			left: -100%;
			text-align: center;
			z-index:10;
		}
		header ul{
			transition: all .4s;
		}
		 header ul li{
			display: block;
			margin: 20px 0;
			line-height: 30px;
			text-align: center;
		}
		header ul li a{
			font-size: 20px;
 
		}
		#bt-menu:checked ~ ul{
			left: 0;
		}
		.apresentação{
		height: 250px;
	}
	.apresentação p{
		font-size: 1.5rem;
		margin-top: 40px;
	}
	.produtos figure img{
		width: 50%;
	}
	.produtos figure img.font{
		width: 40%;
	} 
}

@media(max-width: 340px){
	header h2{
		font-size: 1.1rem;
		text-align: center;
	}
	.apresentação p{
		font-size: 1.5rem;
	}
	.produtos h3,.produtos figcaption{
		font-size: 1.1rem;
	}
	.cadastro h3,.cadastro input,.cadastro button{
		font-size: 1.1rem;
	}

}
@media(max-width: 320px){
	header h2{
		margin-left:45px;	
	}
	label[for="bt-menu"]{
			display: block;
			position: fixed;
			left: 270px;
		}
		header ul{
			display: flex;
			flex-direction: column;
			align-items: center;
			position: fixed;
			width: 100%;
			height: 100vh;
			background:#454484;
			top: 40px;
			left: -100%;
			text-align: center;
			z-index:10;
		}
		header ul{
			transition: all .4s;
		}
		 header ul li{
			display: block;
			margin: 20px 0;
			line-height: 30px;
			text-align: center;
		}
		header ul li a{
			font-size: 20px;
 
		}
		#bt-menu:checked ~ ul{
			left: 0;
		} 
}
@media (max-width: 290px){
	header h2{
		font-size: 1.0rem;
		text-align: center;
		margin-left:45px;
	}
		label[for="bt-menu"]{
			display: block;
			position: fixed;
			left: 230px;	
		}
		header ul{
			display: flex;
			flex-direction: column;
			align-items: center;
			position: fixed;
			width: 100%;
			height: 100vh;
			background:#454484;
			top: 40px;
			left: -100%;
			text-align: center;
			z-index:10;
		}
		header ul{
			transition: all .4s;
		}
		 header ul li{
			display: block;
			margin: 25px 0;
			line-height: 30px;
			text-align: center;
		}
		header ul li a{
			font-size: 20px;
 
		}
		#bt-menu:checked ~ ul{
			left: 0;
		}
		.apresentação p{
			font-size: 1.3rem;
		}
}
@media (max-width: 240px){
	header{
		height: 30px;
	}
	header h2{
		font-size: 14px;
		text-align: center;
		margin-left: 60px;
	}
	.apresentação{
		height: 260px;
	}
	.apresentação p{
		font-size: 1.2rem;
	}
	.cadastro input,.cadastro button{
		font-size:15px;
	}
	footer {
		height: 80px;
	}
	footer p{
		font-size: 15px;
	}
	label[for="bt-menu"]{
			display: block;
			position: fixed;
			left: 200px;
			font-size: 1.1rem;	
		}
		header ul{
			display: flex;
			flex-direction: column;
			align-items: center;
			position: fixed;
			width: 100%;
			height: 100vh;
			background:#454484;
			top: 30px;
			left: -100%;
			text-align: center;
			z-index:10;
		}
		header ul{
			transition: all .4s;
		}
		 header ul li{
			display: block;
			margin: 8px 0;
			line-height: 30px;
			text-align: center;
		}
		header ul li a{
			font-size: 15px;
 
		}
		#bt-menu:checked ~ ul{
			left: 0;
		}
}

