@font-face{font-family:"font";
src:url('Anton-Regular.ttf');
}
@font-face{font-family:"font1";src:url('Stay and Shine.ttf');}

body{
	background-color:#001652;
}
.tela-login{
	background:  linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(10,8,136,1) 0%, rgba(1,190,237,1) 0%, rgba(3,149,204,1) 0%, rgba(124,0,255,1) 0%, rgba(79,7,146,1) 0%, rgba(128,79,79,1) 0%, rgba(6,87,154,1) 0%, rgba(1,139,217,1) 0%, rgba(0,25,179,1) 100%, rgba(255,0,82,1) 100%, rgba(0,48,255,1) 100%, rgba(53,3,255,1) 100%);;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 80px;
	margin: 0 auto;
	border-radius: 15px;
	color: #f1f1f1;
	border: 5px double #ccc;
}
.tela-login h1{
	font-size: 35px;
	color: #ccc;
	font-family: "font";
	text-align: center;
	text-shadow: 2px 1px 2px black;
}
.tela-login h5 a{
	text-align: center;
	font-size: 16px;
	font-family: Arial;
	text-decoration: none;
	color: #f1f1f1;

}
input{
	margin: 0 20px;
	padding: 15px;
	border: none;
	outline: 0;
	font-size: 15px;

}
button{

	background-color: #001652;
	border: none;
	padding: 15px;
	width: 100%;
	border-radius: 10px;
	color: #f1f1f1;
	font-size: 18px;
	font-family: "font";
}
button:hover{
	background-color: #000000;
	cursor: pointer;
}