*{padding: 0;margin: 0;box-sizing: border-box;}

@font-face{font-family:"font";
src:url('Anton-Regular.ttf');
}
form{
	font-family: "font";
}
fieldset{
	border: 0;
}
body{
	background-color: #001652; 
	font-size: 1.2rem;
	text-shadow: 2px 2px 2px black;
}
input,select,button{
	border-radius: 5px;

}	
.campo{
	margin: 35px 0;
}
.campo label{
	margin-bottom: 0.2em;
	color: #f1f1f1;
	display: block;
	text-align: center;
}
.campo input[type="text"], .campo input[type="email"],
.campo input[type="password"],
.campo input[type="date"],.campo input[type="tel"],
.btn,.campo textarea, .campo select{
	padding: 8px;
	border: 1px solid #59429d;
	font-size: 15px;
	display: block;
	margin: 0 auto;
	outline: 0;
}
.campo input[type="text"], .campo input[type="email"],
.campo input[type="password"]{
	width: 20%
}

.campo input[type="text"]:hover,.campo input[type="email"]:hover,
.campo input[type="password"]:hover
{
	background-color: #000000;
	color: #f1f1f1;
	font-weight:bold;
}
.campo #textarea:hover{
 background-color: #000000;
 color: #f1f1f1;
}
.campo select option{
	padding-right: 1em;
}
.btn{
	font-size: 1.2em;
	background: #FF2C0A;
	border: 0;
	margin-bottom: 1em;
	font-weight: bold;
	color: #ffffff;
	padding: 0.2em 0.5em;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}
.btn:hover{
	background-color: #000000;
}
